@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@font-face {
    font-family: cyberdyne;
    src: url('../font/cyberdyne.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #292E34;
}

a {
    text-decoration: none;
}

.auth p,
.auth a {
    margin-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

ul,
li {
    list-style: none;
}

button {
    border: 0;
}

button:disabled:hover {
    cursor: not-allowed;
}

select,
textarea,
input {
    display: flex;
    border: 0;
    padding: 10px 5px;
    width: 100%;
    margin: auto auto 30px;
    font-size: 15px;
    background: inherit;
    border-bottom: 1px solid #ccc;
    color: #fff;
    height: 40px;
}

option {
    color: #000;
}

select:focus,
textarea:focus,
input:focus {
    outline: none;
}


/* Button */

button {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 12px 0;
    background: #188173;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 2px #0a433f;
    margin-bottom: 10px;
}


/* Header */

header {
    width: 100%;
    height: 30px;
    color: red;
}


/* Auth */

#done {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.auth {
    width: 400px;
    height: 380px;
    text-align: center;
    margin: auto;
}


/* Estilo aplicado apenas se a tela for <= 480px */

@media only screen and (max-device-width: 480px) {
    .auth {
        width: 90%;
    }
}

.auth .logo {
    display: block;
    margin-bottom: 30px;
}

.auth .logo span {
    font-family: cyberdyne;
    font-size: 45px;
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
    /* margin: -2px; */
}


/* Home */

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #188173;
}

header .logo {
    margin: auto 0;
}

header .logo h1 {
    font-family: cyberdyne !important;
    font-size: 30px;
    font-weight: normal;
    float: left;
}

header .menu {
    float: right;
}


/* Conteudo Principal */

.content {
    margin: auto;
    width: 800px;
    padding: 20px;
}

@media only screen and (max-device-width: 480px) {
    .content {
        width: 100%;
    }
}

@media only screen and (max-device-width: 800px) {
    .content {
        width: 100%;
    }
}

main>.content {
    margin-top: 20px;
    /* border-radius: 2px; */
    /* background: #fff; */
    /* border: 1px solid #eaeaea; */
    /* box-shadow: 0 0 2px #eaeaea; */
}

#formulario {
    display: flex;
    flex-wrap: wrap;
}

#formulario label {
    padding: 0 5px;
}

#formulario div {
    width: 33.33%;
    font-size: 10pt;
}

#formulario div:first-child {
    width: 100%;
    margin-bottom: 5px;
}

main ul {
    width: 100%;
    display: inline-block;
}

main ul li {
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
}

main ul li i {
    position: absolute;
    right: 10px;
    width: 20px;
    border-radius: 2px;
    cursor: pointer;
}

main ul li i:hover {
    color: #188173;
}

main ul li span {
    float: right;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 30px;
}